/* Stel het kleurenpalet en lettertypen in met behulp van variabelen */

:root {
  --primary: #ffffff;
  --secondary: #aa076b;
  --tertiary: #43cea2; /*#3a96dd;*/
  --page: #ffffff;
  --onprimary: #664300;
  --onsecondary: #664300;
  --ontertiary: #ffffff;
  --onpage: #000000;
  --detail: #ffb88c;
  --detail2: #185a9d;

  --body-font: 1.1rem Verdana, sans-serif;
  --header-font: lighter 3rem Bangers, cursive;
  --title-font: lighter 2rem Bangers, cursive;
}
